<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/newdept'">Create Department</a>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/updatedept'">Update Department</a>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/deletedept'">Delete Department</a>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/assigndept'">Assign Department</a>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/dashboard'">DashBoard</a>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main-div">
            <mat-card>
                <mat-toolbar color="primary">Delete Department</mat-toolbar>
                <form class="create-dept" [formGroup]="formGroup" (ngSubmit)="deletedept()">
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="Name">
                        <mat-error style="color: red;">
                            Department Name Is Required
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button class="add-button" color="primary" type="submit">Delete
                        Department</button>
                </form>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>