<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <a mat-raised-button color="primary" class="button1" fxLayoutAlign="center center"
            [routerLink]="'/newuser'">Create User</a>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/newdept'">Create Department</a>
        <a mat-raised-button color="primary" class="button2" fxLayoutAlign="center center"
            [routerLink]="'/dashboard'">DashBoard</a>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main-div">
            <mat-card>
                <mat-toolbar color="primary">Create Department</mat-toolbar>
                <form class="create-dept">
                    <mat-form-field>
                        <input matInput placeholder="Name" formControlName="Name">
                        <mat-error style="color: red;">
                            Department Name Is Required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Description" formControlName="Description">
                        <mat-error style="color: red;">
                            Description Is Required
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button class="add-button" color="primary" type="submit">Add Department</button>
                </form>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>